@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* For ALL */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* MAIN */
main {
  display: flex;
  justify-content: center;
}

/* Label */
label {
  color: #4f6e66;
}

/* Input */
input {
  background-color: #B6D1D1;
  padding: 15px;
  font-size: large;
  border: none;
  border-bottom: 1px solid black;
}

input::placeholder {
  color: #8BA6A9;
  font-weight: 500;
}