.person_state {
    display: flex;
    align-items: center;
    gap: 10px;

    div {
        display: flex;
        align-items: center;
        gap: 2px;

        input[type="radio"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
            width: 20px;
            height: 20px;
            padding: 2px;
            /* background-color only for content */
            background-clip: content-box;
            border-radius: 50%;
        }
    }
}

input[type="radio"]#male_id  {
    border: 2px solid #43ad4b;

    &:checked {
        background-color: #43ad4b;
        border-color: #43ad4b;
        transition: all 0.5s ease-in-out;
    }
}

input[type="radio"]#female_id {
    border: 2px solid #e54062;



    &:checked {
        background-color: #e54062;
        border-color: #e54062;
        transition: all 0.5s ease-in-out;
    }
}