@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* For ALL */

* {
    margin: 0;
    padding: 0;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 600;
}

/* BODY */
body {
    background-color: #f5f5f5;
}

/* MAIN */
main {
    padding: 20px 40px;
    display: flex;
    justify-content: center;
}

/* Images */
img {
    object-fit: cover;
    height: 26px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 0 0 3px 12px;
    border: none;
    border-bottom: 1.2px solid #a5a5a5;
    background-color: #f5f5f5;
    width: 100%;
    display: flex;
}

input[type="checkbox"] {
    cursor: pointer;
}

button {
    padding: 10px 50px;
    border: none;
    border-radius: 3px;
    background-color: #008a8c;
    color: white;
    cursor: pointer;
}

hr {
    border: 1px solid #ececec;
}

.title {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 20px;
}

.submit_button {
    padding: 35px;
    text-align: right;
}